@model StudentWebApp.Models.StudentModel

@* @model IEnumerable<StudentWebApp.Models.StudentModel> *@
@{
    var lang = Context.Session.GetString("Lang");
    var StudentId = lang == "eng" ? "StudentId" : "শিক্ষার্থীর আইডি ";
    var StudentName = lang == "eng" ? "StudentName" : "নাম";
    var StudentEmail = lang == "eng" ? "StudentEmail" : "ইমেল";
    var StudentPhone = lang == "eng" ? "StudentPhone" : "ফোন";
    var DOB = lang == "eng" ? "Date of Birth" : "জন্ম তারিখ";
    var Courses = lang == "eng" ? "Courses" : "কোর্স";
    var Label = lang == "eng" ? "Details" : "শিক্ষার্থীদের তালিকা";
}
@{
    ViewData["Title"] = @Label;
}

<h1>Details</h1>

<div>
    <h4>StudentModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @StudentId
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @StudentName
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @StudentEmail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class = "col-sm-2">
            @StudentPhone
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt class="col-sm-2">
            @DOB
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Courses
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courses)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    <a asp-action="Index">Back to List</a>
</div>
