@model IEnumerable<StudentWebApp.Models.StudentModel>
@{
    var lang = Context.Session.GetString("Lang");
    var StudentId = lang == "eng" ? "StudentId" : "শিক্ষার্থীর আইডি ";
    var StudentName = lang == "eng" ? "StudentName" : "নাম";
    var StudentEmail = lang == "eng" ? "StudentEmail" : "ইমেল";
    var StudentPhone = lang == "eng" ? "StudentPhone" : "ফোন";
    var DOB = lang == "eng" ? "Date of Birth" : "জন্ম তারিখ";
    var Courses = lang == "eng" ? "Courses" : "কোর্স";
    var Label = lang == "eng" ? "List of Students" : "শিক্ষার্থীদের তালিকা";
}
@{
    ViewData["Title"] = @Label;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @StudentId
            </th>
            <th>
                @StudentName
            </th>
            <th>
                @StudentEmail
            </th>
            <th>
                  @StudentPhone
            </th>
            <th>
                 @DOB
            </th>
            <th>
                 @Courses
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPhone)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courses)
                </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
            </td>
        </tr>

}
    </tbody>
</table>

<p>
    <a asp-action="Export">Export</a>
</p>